@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400;500;600;700;800&display=swap");

html,
body {
  background-image: linear-gradient(
    to right top,
    #bdf2d5,
    #95ccc0,
    #76a6a7,
    #5f8089,
    #4b5d67
  );
  font-family: "Anek Latin", sans-serif;
}

/* Utility Classes Start Here */
.container {
  /* border: 3px solid aqua; */
  max-width: 1400px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.main-logo {
  font-size: 2rem;
  font-weight: 500;
}

.btn {
  background: rgba(246, 246, 246, 0.3);
  display: inline-block;
  padding: 12px 40px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background: #3c2c3e;
  text-decoration: underline;
}
/* Utility Classes End Here */
/* Navbar Starts Here */
.navbar {
  color: rgb(246, 246, 246);
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 0 50px;
}

.menu .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links a {
  color: rgb(246, 246, 246);
  margin-right: 25px;
  font-size: 1rem;
}
/* Navbar Ends Here */

/* Home Section Starts Here */
#home {
  height: calc(100vh - 90px);
  display: flex;
  align-items: center;
}

.info-section {
  border: 3px solid pink;
  width: 80%;
}
